/* main styles */

:root {
  --pac-man-color: #ffcc00;
  --bcg: rgb(0, 0, 0);
  --wall: rgb(0, 0, 255);
  --width-height: 704px;
  --border-heigh: 2px;
  --square: 25px;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: var(--bcg);
}
/* title styles  */
button {
  background-color: green;
  color: red;
}
.game-title-container {
  box-sizing: border-box;
  width: var(--width-height);
  border: var(--border-heigh) solid white;
  border-bottom: none;
  margin: 0 auto;
}
.title-container {
  background-color: orange;
  /* width: 700px; */
  /* margin: 0 auto; */
}
.title-container p {
  text-align: center;
  padding: 10px;
  font-size: 6rem;
  color: yellow;
}

/* score board styles */
.score-board-container {
  background-color: red;
  /* width: 700px; */
  /* margin: 0 auto; */
}
.score-board {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}

.highscore-container {
  text-align: center;
}

/* styles conected with win/lose game  */

.wrapper {
  width: var(--width-height);
  position: relative;
  margin: 0 auto;
}
.win {
  position: absolute;
  left: 10%;
  top: 200px;
  display: none;
}
.win-container p {
  font-size: 10rem;
  color: red;
}

.grid-container {
  position: absolute;
  margin: 0 auto;
}

/* grid elements and characters styles*/

.grid {
  background-color: var(--bcg);
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
  border: var(--border-heigh) solid white;
}
.grid div {
  width: var(--square);
  height: var(--square);
}
.pac-dot {
  box-sizing: border-box;
  background-color: var(--pac-man-color);
  border: 10px solid var(--bcg);
  border-radius: 15px;
}
.wall {
  box-sizing: border-box;
  background-color: var(--wall);
  /* border: 1px solid var(--bcg); */
}
.ghost-lair {
  /* background-color: orange; */
}
.power-pellet {
  box-sizing: border-box;
  background-color: var(--pac-man-color);
  border: 5px solid var(--bcg);
  border-radius: 15px;
}
.pac-man {
  background-image: url(./img/pac-man-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--pac-man-color); */
  /* height: 25; */
  /* width: 25; */
  /* border-radius: 20px; */
}
.pac-man-right {
  background-image: url(./img//pac-man-right.png);
  /* background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--pac-man-color); */
  /* height: 25;
  width: 25;
  border-radius: 20px; */
}
.pac-man-left {
  background-image: url(./img/pac-man-left.png);
  /* background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--pac-man-color); */
  /* height: 25;
  width: 25;
  border-radius: 20px; */
}
.pac-man-up {
  background-image: url(./img/pac-man-up.png);
  /* background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--pac-man-color); */
  /* height: 25;
  width: 25;
  border-radius: 20px; */
}
.pac-man-down {
  background-image: url(./img/pac-man-down.png);
  /* background-repeat: no-repeat;
  background-size: contain;
  /* background-color: var(--pac-man-color); */
  /* height: 25;
  width: 25;
  border-radius: 20px; */
}
.blinky {
  background-image: url(./img/blinky.png);
  background-color: var(--bcg);
  background-repeat: no-repeat;
  background-size: contain;
  /* /* background-color: red; */
  border-radius: 0;
  border: none;
}
.pinky {
  background-image: url(./img/pinky.png);
  background-color: var(--bcg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  border: none;
}
.inky {
  background-image: url(./img/inky.png);
  background-color: var(--bcg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  border: none;
}
.clyde {
  background-image: url(./img/clyde.png);
  background-color: var(--bcg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 0;
  border: none;
}
.ghosts-scared {
  background-image: url(./img/ghost-scared.png);
  background-color: var(--bcg);
  background-size: contain;
  border-radius: 0;
  border: none;
}
