:root {
  --pac-man-color: #f9fe17;
  --bcg: rgb(0, 0, 0);
  --wall: rgb(0, 0, 255);
  --width-height: 704px;
  --border-heigh: 2px;
  --square: 25px;
}
body {
  font-family: "Press Start 2P", cursive;
  background-color: var(--bcg);
}

.game-title-container {
  box-sizing: border-box;
  width: var(--width-height);
  border: var(--border-heigh) solid white;
  border-bottom: none;
  margin: 0 auto;
}
.title-container {
  background-color: orange;
  /* width: 700px; */
  /* margin: 0 auto; */
}
.title-container p {
  text-align: center;
  padding: 10px;
  font-size: 6rem;
  color: var(--pac-man-color);
}
.score-board-container {
  background-color: red;
  /* width: 700px; */
  /* margin: 0 auto; */
}
.score-board {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 10px;
}

.win-container p {
  font-size: 10rem;
  color: red;
}
.wrapper {
  width: var(--width-height);
  position: relative;
  margin: 0 auto;
}
.win {
  position: absolute;
  left: 10%;
  top: 200px;
  display: none;
}
.grid-container {
  position: absolute;
  margin: 0 auto;
}

.grid {
  background-color: var(--bcg);
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
  border: var(--border-heigh) solid white;
}
.grid div {
  width: var(--square);
  height: var(--square);
}
.pac-dot {
  box-sizing: border-box;
  background-color: var(--pac-man-color);
  border: 10px solid var(--bcg);
  border-radius: 15px;
}
.wall {
  background-color: var(--wall);
}
.ghost-lair {
  /* background-color: orange; */
}
.power-pellet {
  box-sizing: border-box;
  background-color: var(--pac-man-color);
  border: 5px solid var(--bcg);
  border-radius: 15px;
}
.pac-man {
  background-color: var(--pac-man-color);
  height: 25;
  border-radius: 20px;
}
.blinky {
  background-color: red;
  border-radius: 7px;
  border: none;
}
.pinky {
  background-color: pink;
  border-radius: 7px;
  border: none;
}
.inky {
  background-color: aquamarine;
  border-radius: 7px;
  border: none;
}
.clyde {
  background-color: orange;
  border-radius: 7px;
  border: none;
}
.ghosts-scared {
  background-color: green;
}
