:root {
  --pac-man-color: #f9fe17;
  --bcg: rgb(0, 0, 0);
  --wall: rgb(0, 0, 255);
}

.grid {
  background-color: var(--bcg);
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  height: 700px;
  border: solid black;
}
.grid div {
  width: 25px;
  height: 25px;
}
.pac-dot {
  box-sizing: border-box;
  background-color: var(--pac-man-color);
  border: 10px solid var(--bcg);
  border-radius: 15px;
}
.wall {
  background-color: var(--wall);
  /* border: 1px solid blue; */
}
.ghost-lair {
  /* background-color: orange; */
  /* border: 1px solid orange; */
}
.power-pellet {
  box-sizing: border-box;
  background-color: var(--pac-man-color);
  border: 5px solid var(--bcg);
  border-radius: 15px;
}
.pac-man {
  background-color: var(--pac-man-color);
  height: 25;
  border-radius: 20px;
  /* border-right: 25px solid transparent; */
  /* border-top: 25px solid blue;
  border-left: 25px solid blue;
  border-bottom: 25px solid blue;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px; */
  /* top: 50%;
  left: 50%;
  position: absolute;
  transform: (-50%); */
}

/* // 0 - pac-dots
  // 1 - wall
  // 2 - ghost-lair
  // 3 - power-pellet
  // 4 - empty */
