body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #000;
}
#all-sections {
  background: #fff;
  margin: 0 200px;
}
nav {
  display: flex;

  justify-content: space-between;
}
.navigation.logo {
  background: url(resources/logo-navi.jpg) no-repeat;
  background-size: 100%;
  width: 100px;
  height: 50px;
}
.navigation {
  margin-top: 19px;
  height: 15px;
  width: 15px;
}
.menu {
  display: flex;
}
.menu a {
  margin: 0;
  text-decoration: none;
  color: #000;
}
.menu p {
  padding-right: 5px;
  margin-top: 15px 0;
  font-size: 15px;
}
.navigation.search {
  background: url(resources/search.svg) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  display: inline-block;
}
.navigation.menu {
  background: url(resources/menu.svg) no-repeat;
  background-size: contain;
}
.page-1 {
  display: flex;
  align-items: center;
}
.page-1-p {
  margin: 0 6%;
  padding: 5%;
}

.page-1-p p {
  color: #000;
  padding: 0;
  margin: 0;
}
.page-1-p-1 {
  font-size: 50px;
}
.page-1-p-2 {
  font-size: 60px;
  margin: 0;
}
.page-1-p-3 {
  font-size: 20px;
  margin: 0;
}
.page-1-p-4{
  font-size: 16px;
  margin: 0;
}
.scroll {
  margin: 0px;
  font-size: 15px;
  text-align: center;
}
.arrow {
  background: url(resources/arrow.svg) no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  width: 100%;
  height: 25px;
  
}

.section-2 p{
  color: #000;
  text-align: center;
  font-size: 30px;
}
.section-2 div{
  padding: 40px;
display: flex;
justify-content: center;
text-align: center;
}
h1{
  font-weight: bold;
  font-size: 35px;
  text-align: center;

}
.boxes{
  display: flex;
  justify-content: space-around;
}
.box{
  flex: 1 1 250px;
  margin: 50px 40px;
  padding: 20px;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 1em #333333;
  
}

.box.first{
 
  background-color: #333333;
  
}
.box.second{
  
  background-color: #D6D6D6;
  
}
.box.third{
  
  background-color: #D6D6D6;
  
}
.box-header{
  font-size: 25px;
  color: #000;
}