body {
  background-color: #ceb3a5;
}
.page-1 {
  margin: 150px auto;
  border-radius: 30px;
  background-color: #dcc1b3;
  width: 70%;
}
.navigation {
  display: flex;
  justify-content: space-between;
 
  align-items: center;
  background-color: #fff;
  border-radius: 30px 30px 0 0;
  padding: 5px;
}
.search {
  display: flex;
}
.search-logo {
  background-image: url(resources/search.svg);
}
.cart-logo {
  background-image: url(resources/cart.svg);
}
.search li {
  list-style-type: none;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  width: 20px;
  height: 20px;
}
.search li a {
  display: block;
  text-indent: -999999px;
}

.toolbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 150px;
}
.toolbar li a {
  text-decoration: none;
  color: none;
  color: #dcc1b3;
}
.toolbar li a:hover {
  color: #43200d;
}
.toolbar li {
  list-style-type: none;
  font-size: 20px;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  color: #dcc1b3;
  height: 30px;
}

.navigation-logo {
  display: flex;
  justify-content: center;
  background-image: url(resources/navigation-logo.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 100px;
  margin-right: 200px;
  margin-left: 30px;
}
.page-1-content {
  display: flex;
  justify-content: center;
  padding: 150px 150px;
}
.content-1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px;
  width: 50%;
  height: 300px;
}
h1 {
  margin: 0;
  font-size: 50px;
  font-family: sans-serif;
  color: #4e2b19;
}
.content-1 p:nth-child(2) {
  font-size: 18px;
  color: #bd8b70;
  text-align: center;
}

.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content-1 a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #43200d;
  font-family: sans-serif;
  text-align: center;
  width: 140px;
  padding: 10px;
  border-radius: 20px;
}
.image-1 {
  background-image: url(resources/chair.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
}
.image-logo {
  height: 85px;
  padding: 0;
  margin: 0;
  border: 1px blue solid;
  
}
footer {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  background-color: #d9bbab;

  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  border-radius: 0 0 40px 40px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  color: #fff;
  text-transform: initial;
  font-size: 1.5;
  margin: 0;
}
footer li {
  list-style-type: none;
}
.footer-1 {
  grid-column: 1 / 3;
  margin: 50px;
}
.logo-footer {
  background-image: url(resources/logo-footer.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 200px;
}

.footer-2 {
  grid-column: 3 / 4;
  margin-top: 100px;
}
.footer-3 {
  grid-column: 4 / 5;
  margin-top: 100px;
  text-transform: uppercase;
}

.footer-4 {
  grid-column: 5 / 6;
  margin-top: 100px;
  text-transform: uppercase;
}

.footer-5 {
  grid-column: 1 / 6;
  height: 100px;
  text-align: right;
  margin-right: 100px;
}
.page-2 {
  background-color: #fff;
  height: 400px;
}
.page-2-content {
  padding-top: 100px;
  text-align: center;
}
.page-2 p {
  text-transform: uppercase;
  font-size: 30px;
  font-family: sans-serif;
  margin: 0;
  color: #4e2b19;
}
