.page-1 {
  background-color: #47645f;
  padding: 0 100px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
}
nav {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  background-image: url(resources/logo-1.JPG);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left top;
  border-bottom: 1px solid rgb(180, 180, 180, 0.2);
}
.navigation-container li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  padding: 15px;
}
.navigation-container li a {
  text-decoration: none;
  color: #fff;
}
.navigation-container li a:hover {
  color: #000;
}

h1.page-1-title {
  width: 45%;
  line-height: 50px;
  margin-top: 100px;
}

.section-1 {
  background-image: url(resources/photo-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 750px;
}

.section-1 > p {
  width: 45%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
}
.link-container-white-box {
  box-shadow: wheat;
  width: 45%;
  height: 170px;
  background-color: #fff;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.link-container-white-box p {
  font-weight: bold;
  font-size: 1.2em;
  color: #47645f;
  text-align: left;
  padding: 20px 0 10px 20px;
}
.link-container-white-box a {
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  border: #000 0.5px solid;
  width: 10%;
  height: 20px;
  background-color: #fff;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.link-container-under-white-box {
  display: flex;
  padding: 10px;
  margin: 0;
}

.link-rounded {
  text-decoration: none;
  background-color: none;
  border: #fff 1px solid;
  width: 100px;
  height: 20x;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin: 0 20px 0 20px;
}
.button-1:hover {
  color: #000;
}
