

body{
    background-color: #334A44;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.page-1{
    margin: 100px 200px 0;
    background-color: #47645F;
    
    padding: 15px 100px;
}

ul{
    
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
  
    
    
}
nav{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    background-image: url(resources/logo-1.JPG);
    height: 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
ul li{
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 15px;  

}
li a{
    text-decoration: none;
    color: #fff;
    
}
li a:hover{
    color: #000;
}


h2 {
    line-height: 50px;
    margin-top: 100px;
    width: 60%;
    font-family: serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    color: #fff;
    
    
}


.section-1{
    
    background-image: url(resources/photo-1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
}

.section-1 > p {
    
    width: 60%;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;
    color: #fff;
}
.buttons{
    box-shadow: wheat ;
    width: 45%;
    height: 170px;
    background-color: #fff;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    
}
.buttons p{
    font-weight: bold;
    font-size: 1.2em;
    color:  #47645F;
    text-align: left;
    padding: 20px 0 10px 20px;
    
    
}
.buttons a{
   
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 16px;
    border: #000 0.5px solid;
    width: 10%;
    height: 20px;
    background-color: #fff;
    text-align: center;
     margin: 20px;
    padding: 10px;
    
    
}
   
.buttons-2{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    
}

.button-1{
    text-decoration: none;
    background-color: none;
    border: #fff 1px solid;
    width: 100px;
    height: 20x;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin: 0 20px;
    
}
.button-1:hover{
    color: #000;
}
.button-2:hover{
    color: #47645F;
}


.page-2{
    margin: 0px 200px;
    background-color: #fff;
   
    padding: 15px 100px;

}
.photo-2{
    margin: -3px;
    background-color: #F2F2F2;
}
.photo-description{
    margin: 0;
    background-color: #47645F;
    padding: 10px;
}
.photo-description p{
        margin: 0;
}
.photo-description p:nth-of-type(1){
    color:#fff;
    
}
.photo-description p:nth-of-type(2){
    color: #5D7470;
    
}

   