.page-3 {
  background: #eaeaea;
  padding: 30px 60px;
  /* height: 30vh; */
}
h3.h3-page-3 {
  text-align: center;
  color: #455a57;
}
.slider-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.slider-box {
  background-color: #fff;
  height: 200px;
  width: 200px;
  flex-grow: 1;
}
.box-1 {
  /* position: absolute; */
}
.slider-icons-container {
  align-self: center;
}
.scroll-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.scroll-icon-img {
  height: 50px;
}
