body {
  background-color: #334a44;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.all-page {
  margin: 100px 200px;
}
.page-1 {
  background-color: #47645f;

  padding: 0 100px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
}
nav {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  background: url(resources/logo-1.JPG) no-repeat;
   background-size: contain;
  background-position: left top;
}
.navigation-buttons li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 15px;
}
.navigation-buttons li a {
  text-decoration: none;
  color: #fff;
}
.navigation-buttons li a:hover {
  color: #000;
}

h2 {
  line-height: 50px;
  margin-top: 100px;
  width: 45%;
  font-family: serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 40px;
  color: #fff;
}

.section-1 {
  background-image: url(resources/photo-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 750px;
}

.section-1 > p {
  width: 45%;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
}
.buttons {
  box-shadow: wheat;
  width: 45%;
  height: 170px;
  background-color: #fff;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.buttons p {
  font-weight: bold;
  font-size: 1.2em;
  color: #47645f;
  text-align: left;
  padding: 20px 0 10px 20px;
}
.buttons a {
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  border: #000 0.5px solid;
  width: 10%;
  height: 20px;
  background-color: #fff;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.buttons-2 {
  display: flex;
  padding: 10px;
  margin: 0;
}

.button-1 {
  text-decoration: none;
  background-color: none;
  border: #fff 1px solid;
  width: 100px;
  height: 20x;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin: 0 20px 0 20px;
}
.button-1:hover {
  color: #000;
}
.button-2:hover {
  color: #47645f;
}

.page-2 {
  background-color: #fff;

  padding: 15px 100px 100px 100px;
}
.photo-2 {
  background: #f2f2f2 url(resources/photo-2.png) no-repeat;
  display: block;
  background-size: contain;
  background-position: left;
  padding: 0;
  margin: 0;
  width: 90%;
  height: 100vh;
}
.photo-description-3 {
  margin: 0;
  background-color: #47645f;
  padding: 10px;
  width: 200px;
  padding: 15px;
  text-align: center;
}
.photo-description-3 p {
  margin: 0;
}
.photo-description-3 p:nth-of-type(1) {
  color: #fff;
}
.photo-description-3 p:nth-of-type(2) {
  color: #5d7470;
}
.photo-description-1 {
  display: flex;
  flex-flow: row;
  flex-shrink: 1;
  margin: 0;
  background-color: none;
  padding: 0;
}
.photo-description-1 p:nth-of-type(1) {
  text-transform: initial;
  color: #000;
  font-size: 44px;
  margin: 0;
}
.photo-description-2 p span {
  color: #5d7470;
}
.photo-description-1 p:nth-of-type(2) {
  color: #5d7470;
  margin: 0;
  font-size: 23px;
}

.photo-description-1 p:nth-of-type(3) {
  color: #5d7470;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}
.photo-description-2 {
  width: 70%;
  margin: 200px 10px 0 90px;
}
.buttons-3 {
  margin: 20;
}
.buttons-3 a:first-child {
  text-align: center;
  text-decoration: none;
  background-color: #47645f;
  color: #fff;
  text-transform: uppercase;

  padding: 12px;
  border-radius: 35px;

  font-size: 14px;
  letter-spacing: 1px;
}

.buttons-3 a:last-child {
  text-decoration: none;
  background-color: #fff;
  color: #47645f;
  text-transform: capitalize;
  margin: 0 40px;
  padding: 12px;
  border-radius: 35px;
  font-size: 14px;
}
.buttons-3 a:hover {
  color: #000;
  border: 1px #000 solid;
}
.page-3 {
  background: #eaeaea;
  height: 30vh;
}
.page-3 p {
  margin: 0;
  text-align: center;
  color: #455a57;
  font-size: 70px;
  padding-top: 100px;
}
.page-4 {
  background: #47645f url(resources/photo-3.jpg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-4 p {
padding: 0;
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 0;

}
.page-4 P:nth-child(1) {
  b
  display: block;
  margin-right: 50%;
  
}

.page-4 P:nth-child(2) {
  
  padding: 0;


}
.page-4 P:nth-child(3) {
  padding: 0;
 
  
  margin-left: 50%;
  
}



footer {
  background: #2b3942;

  color: #fff;
}
.footer-content {
  background: url(resources/footer-logo.JPG) no-repeat;
  background-size: 10%;
  background-position: 3% 0;
 
  
  display: flex;
  justify-content: center;
  padding: 6% 6% 0 6%;
}

.footer-header {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
.links {
  flex: 3 0 100px;
  padding: 0;
  margin: 0 5%;
}
.links p:first-child {
  margin-left: 15%;
}

.links-a {
  padding: 0;
  display: block;
  column-count: 2;
  margin-left: 15%;
}
.links-a li {
  list-style-type: none;
}
.links-a li a {
  text-decoration: none;
  
  padding: 5px;
  color: #fff;
}
.gift {
  flex: 2 0 100px;
  margin: 0 5%;
}
.gift a {
  text-decoration: none;

}
.gift p{
  color: #fff;
}
#special-link {
  text-decoration: underline;
  color: #fff;
}
#refere-button {
  display: inline-block;
  background: #fff;
  color: #2b3942;
  border-radius: 25px;
  padding: 7px;
  text-transform: uppercase;
  font-size: 20px;
}
.shop {
  flex: 1 0 100px;
  margin: 0 5%;
}
.book-photo-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-photo-2 {
  background: url(resources/book-photo.JPG) no-repeat;
  background-size: contain;
  width: 160px;
  height: 200px;
}
.foot-end {
 
  color: rgb(180, 180, 180, 0.7);
  margin: 1%;
  padding: 1%;
}
