/* podzielic na pliki poszczegolne sekcje */
body {
  font-family: "Lato", sans-serif;
  background-color: #334a44;
}
.all-page {
  margin: 0 auto;
  max-width: 1200px;
  /* margin: 100px 200px; */
}
.page-1 {
  background-color: #47645f;
  padding: 0 100px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
}
nav {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  background-image: url(resources/logo-1.JPG);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left top;
  border-bottom: 1px solid rgb(180, 180, 180, 0.2);
}
.navigation-container li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  padding: 15px;
}
.navigation-container li a {
  text-decoration: none;
  color: #fff;
}
.navigation-container li a:hover {
  color: #000;
}
h1 {
  /* 45%?? raczej dla konkretnej klasy naglowka a nie wszystkich naglowkow*/
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 40px;
  color: #fff;
}

h1.page-1-title {
  width: 45%;
  line-height: 50px;
  margin-top: 100px;
}

.section-1 {
  background-image: url(resources/photo-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 750px;
}

.section-1 > p {
  width: 45%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
}
.link-container-white-box {
  box-shadow: wheat;
  width: 45%;
  height: 170px;
  background-color: #fff;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.link-container-white-box p {
  font-weight: bold;
  font-size: 1.2em;
  color: #47645f;
  text-align: left;
  padding: 20px 0 10px 20px;
}
.link-container-white-box a {
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  border: #000 0.5px solid;
  width: 10%;
  height: 20px;
  background-color: #fff;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.link-container-under-white-box {
  display: flex;
  padding: 10px;
  margin: 0;
}

.link-rounded {
  text-decoration: none;
  background-color: none;
  border: #fff 1px solid;
  width: 100px;
  height: 20x;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin: 0 20px 0 20px;
}
.button-1:hover {
  color: #000;
}

.page-2 {
  background-color: #fff;
  padding: 15px 100px 100px 100px;
  display: flex;
}

/* .photo-2 {
  background: #f2f2f2 url(resources/photo-2.png) no-repeat;
  display: block;
  background-size: contain;
  background-position: left;
  padding: 0;
  margin: 0;
  width: 90%;
  height: 100vh;
} */
.photo-2-description {
  margin: 0;
  background-color: #47645f;
  padding: 10px;
  width: 200px;
  padding: 15px;
  text-align: center;
}
.photo-2-description p {
  margin: 0;
}
.photo-2-description p:nth-of-type(1) {
  color: #fff;
}
.photo-2-description p:nth-of-type(2) {
  color: #5d7470;
}

.photo-right-description {
  width: 70%;
  margin: 100px 50px;
}
h2 {
  text-transform: initial;
  color: #000;
  font-size: 44px;
  margin: 0;
}
.photo-right-description h2 span {
  color: #5d7470;
}
.photo-right-description p:nth-of-type(1) {
  color: #5d7470;
  margin: 0;
  font-size: 23px;
}

.photo-right-description p:nth-of-type(2) {
  color: #5d7470;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}

.link-container-right-photo-description {
  margin: 20;
}
.link-container-right-photo-description a:first-child {
  text-align: center;
  text-decoration: none;
  background-color: #47645f;
  color: #fff;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 35px;
  font-size: 14px;
  letter-spacing: 1px;
}

.link-container-right-photo-description a:last-child {
  text-decoration: none;
  background-color: #fff;
  color: #47645f;
  text-transform: capitalize;
  margin: 0 40px;
  padding: 12px;
  border-radius: 35px;
  font-size: 14px;
}
.link-container-right-photo-description a:hover {
  color: #000;
  border: 1px #000 solid;
}
.page-3 {
  background: #eaeaea;
  height: 30vh;
}
.page-3 p {
  margin: 0;
  text-align: center;
  color: #455a57;
  font-size: 70px;
  padding-top: 100px;
}

.page-4 {
  background: #47645f url(resources/photo-3.jpg) no-repeat;
  background-size: contain;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-4 p {
  padding: 0;
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  margin: 0;
}
.page-4 span:nth-child(1) {
  display: block;
  margin-right: 50%;
}
.page-4 span:nth-child(3) {
  margin-left: 50%;
}

footer {
  background-color: #2b3942;
  background-image: url(resources/footer-logo.JPG);
  background-repeat: no-repeat;
  background-position: 3% 15%;
}
.footer-content {
  display: flex;
  justify-content: center;
  padding: 6% 6% 0 6%;
  margin-bottom: 20px;
}

.footer-header {
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
.links {
  border-right: 1px solid rgb(180, 180, 180, 0.2);
  flex: 1 0 100px;
  padding: 0;
  margin: 0 5%;
}
.links h3:first-child {
  margin-left: 15%;
}

.links-a {
  padding: 0;
  display: block;
  column-count: 2;
  margin-left: 15%;
}
.links-a li {
  list-style-type: none;
}
.links-a li a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
}
.gift {
  border-right: 1px solid rgb(180, 180, 180, 0.2);
  flex: 1 0 100px;
  margin: 0 auto;
}
.gift a {
  text-decoration: none;
}
.gift p {
  color: #fff;
}
#special-link {
  text-decoration: underline;
  color: #fff;
}
#refere-link {
  margin: 10px;
  padding: 5px 10px;
  background: #fff;
  color: #2b3942;
  border-radius: 25px;

  text-transform: uppercase;
  font-size: 20px;
}
.shop {
  flex: 1 0 100px;
  margin: 0 5%;
}
.book-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-end {
  border-top: 1px solid rgb(180, 180, 180, 0.2);
}
.footer-end p {
  color: rgb(180, 180, 180, 0.3);
  margin: 1%;
  padding: 1%;
}
