:root {
  --main-bcg: #334a44;
  --line-color: rgb(180, 180, 180, 0.6);
  --foote-text-color: rgb(180, 180, 180, 0.9);
  --svg-color: invert(100%) sepia(0%) saturate(0%) hue-rotate(14deg)
    brightness(103%) contrast(102%);
  --bcg-in-pages-and-containers: #47645f;
  --page-3-bcg: #eaeaea;
  --page-6-bcg-color: #475764;
  --page-8-bcg-color: #eeeeee;
  --text-color-headers: #516c67;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--main-bcg);
  font-size: 16px;
}
.all-page {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2.5rem;
  color: #fff;
}
h2 {
  font-size: 2.3rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
  text-transform: capitalize;
  padding: 15px 0;
}

footer {
  background-color: #2b3942;
  background-image: url(resources/footer-logo.JPG);
  background-repeat: no-repeat;
  background-position: 6% 15%;
  padding: 70px;
}
.footer-content {
  display: flex;
  justify-content: center;
  padding: 6% 6% 0 6%;
  margin-bottom: 20px;
}

.footer-header {
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
.links {
  border-right: 1px solid var(--line-color);
  flex: 1 0 100px;
  padding: 0;
  margin: 0 5%;
}
.links h5:first-child {
  margin-left: 15%;
}

.links-a {
  padding: 0;
  line-height: 45px;
  display: block;
  column-count: 2;
}
.links-a li {
  list-style-type: none;
}
.links-a li a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
}
.gift {
  border-right: 1px solid var(--line-color);
  flex: 1 0 100px;
  margin: 0 auto;
}
.gift a {
  text-decoration: none;
}
.gift p {
  color: #fff;
}
#special-link {
  text-decoration: underline;
  color: #fff;
}
#refere-link {
  display: inline-block;
  margin-top: 10px;
  padding: 13px 18px;
  background: #fff;
  color: #2b3942;
  border-radius: 25px;

  text-transform: uppercase;
  font-size: 20px;
}
.shop {
  flex: 1 0 100px;
  margin: 0 5%;
}
.book-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-end {
  border-top: 1px solid var(--line-color);
  display: flex;
  justify-content: space-between;
}
.footer-end p {
  display: inline-block;
  color: var(--foote-text-color);
  margin: 1%;
  padding: 1%;
}
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.icons-list {
  display: flex;
}
.icons-list-item {
  padding: 5px;
}

.icons-list-item img {
  height: 30px;
  filter: var(--svg-color);
}

/* STYLE PAGE-1 */

.page-1 {
  background-color: var(--bcg-in-pages-and-containers);
  padding: 0 100px;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
}
nav {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  background-image: url(resources/logo-1.JPG);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left top;
  border-bottom: 1px solid var(--line-color);
}
.navigation-container li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-transform: uppercase;
  padding: 15px;
}
.navigation-container li a {
  text-decoration: none;
  color: #fff;
}
.navigation-container li a:hover {
  color: #000;
}

h1.page-1-title {
  width: 45%;
  line-height: 50px;
  margin-top: 100px;
}

.section-1 {
  background-image: url(resources/photo-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  height: 750px;
}

.section-1 > p {
  width: 45%;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
  color: #fff;
}
.link-container-white-box {
  box-shadow: wheat;
  width: 45%;
  height: 170px;
  background-color: #fff;
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.link-container-white-box p {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--bcg-in-pages-and-containers);
  text-align: left;
  padding: 20px 0 10px 20px;
  margin-bottom: 20px;
}
.link-container-white-box a {
  text-decoration: none;
  color: #000;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  border: #000 0.5px solid;
  width: 10%;
  height: 20px;
  background-color: #fff;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.link-container-under-white-box {
  display: flex;
  padding: 10px;
  margin: 0;
}

.link-rounded {
  text-decoration: none;
  background-color: none;
  border: #fff 1px solid;
  width: 100px;
  height: 20x;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  margin: 0 20px 0 20px;
}
.button-1:hover {
  color: #000;
}

/* STYLE PAGE-2 */

.page-2 {
  background-color: #fff;
  padding: 15px 100px 100px 100px;
  display: flex;
}
h2.h2-page-2 {
  text-transform: initial;
  color: #000;
}

.photo-2-description {
  margin: 0;
  background-color: var(--bcg-in-pages-and-containers);
  padding: 10px;
  width: 200px;
  padding: 15px;
  text-align: center;
}
.photo-2-description p {
  margin: 0;
}
.photo-2-description p:nth-of-type(1) {
  color: #fff;
}
.photo-2-description p:nth-of-type(2) {
  color: var(--text-color-headers);
}

.photo-right-description {
  width: 70%;
  margin: 100px 50px;
}

.photo-right-description h2 span {
  color: var(--bcg-in-pages-and-containers);
}
.photo-right-description p:nth-of-type(1) {
  color: var(--bcg-in-pages-and-containers);
  margin: 0;
  font-size: 23px;
}

.photo-right-description p:nth-of-type(2) {
  color: var(--bcg-in-pages-and-containers);
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 40px;
}

.link-container-right-photo-description {
  margin: 20;
}
.link-container-right-photo-description a:first-child {
  text-align: center;
  text-decoration: none;
  background-color: var(--bcg-in-pages-and-containers);
  color: #fff;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 35px;
  font-size: 14px;
  letter-spacing: 1px;
}

.link-container-right-photo-description a:last-child {
  text-decoration: none;
  background-color: #fff;
  color: var(--bcg-in-pages-and-containers);
  text-transform: capitalize;
  margin: 0 40px;
  padding: 12px;
  border-radius: 35px;
  font-size: 14px;
}
.link-container-right-photo-description a:hover {
  color: #000;
  border: 1px #000 solid;
}

/* STYLE PAGE-3 */

.page-3 {
  background: var(--page-3-bcg);
  padding: 10px 60px;
  /* height: 30vh; */
}
h3.h3-page-3 {
  text-align: center;
  color: var(--bcg-in-pages-and-containers);
}
.slider-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.slider-box {
  background-color: #fff;
  height: 200px;
  width: 200px;
  flex-grow: 1;
}

.slider-icons-container {
  align-self: center;
}
.scroll-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.scroll-icon-img {
  height: 50px;
}
/* STYLE PAGE-4 */

.page-4 {
  background: var(--bcg-in-pages-and-containers) url(resources/photo-3.jpg)
    no-repeat;
  background-size: contain;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-4 p {
  padding: 0;
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  margin: 0;
}
.page-4 span:nth-child(1) {
  display: block;
  margin-right: 50%;
}
.page-4 span:nth-child(3) {
  margin-left: 50%;
}

/* STYLE PAGE-5 */

.page-5 {
  background: #fff;
}
h3.h3-page-5 {
  color: var(--bcg-in-pages-and-containers);
  margin: 0;
  padding: 40px;
  margin-left: 60px;
}
.video-slider-container {
  display: flex;
  padding: 20px;
  gap: 10px;
}

.video-box-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border: 1px solid var(--line-color);
  padding: 30px;
  flex-grow: 1;
}
.video-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: var(--bcg-in-pages-and-containers);
}

/* STYLE PAGE-6 */

.page-6 {
  background: #fff;
  padding: 5%;
}
.page-6-content-container {
  border-bottom: 1px solid var(--line-color);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--page-6-bcg-color);
  border-radius: 10px;
}

.quote-text {
  /* margin: 0; */
  color: #fff;
  font-size: 30px;
  padding: 0;
  line-height: 45px;
}
.quote-mark {
  /* display: block; */
  font-size: 80px;
}
.quote-text-indent {
  display: block;
}

.quote-up {
  text-align: left;
}
.quote-down {
  text-align: right;
}
.indent-2 {
  text-indent: 60px;
}
.indent-3 {
  text-indent: 120px;
}

/* STYLE PAGE-7 */

.page-7 {
  background: #fff;
}

.grid-container {
  margin: 0 auto;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
}
.grid-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 250px;
  flex-grow: 1;
}
.grid-box2,
.grid-box4 {
  flex-direction: column;
}
.grid-box6,
.grid-box8 {
  flex-direction: column-reverse;
}
.grid-description {
  flex-grow: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}

.grid-container div:nth-child(even) {
  background-color: var(--bcg-in-pages-and-containers);
}
.grid-container div:nth-child(odd) {
  background-color: var(--page-3-bcg);
}
.grid-box1 {
  background-image: url(./resources/grid-photo-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  order: 1;
}
.grid-box2 {
  order: 2;
}
.grid-box3 {
  background-image: url(./resources/grid-photo-3.png);
  background-repeat: no-repeat;
  background-size: contain;
  order: 3;
}
.grid-box4 {
  order: 4;
}
.grid-box5 {
  background-image: url(./resources/grid-photo-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  order: 6;
}
.grid-box6 {
  order: 5;
}

.grid-box7 {
  background-image: url(./resources/grid-photo-4.png);
  background-repeat: no-repeat;
  background-size: contain;
  order: 8;
}
.grid-box8 {
  order: 7;
}
.grid-description {
  color: #fff;
  text-transform: uppercase;
  align-self: center;
}
.grid-arrow {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(14deg) brightness(103%)
    contrast(102%);
}

/* STYLE PAGE-8 */

.page-8 {
  background: var(--page-8-bcg-color);
}
.page-8-content {
  padding: 60px 10px;
  display: flex;
  margin: 0 auto;
}
.page-8-description {
  width: 40%;
  margin: 0 auto;
}
.vl {
  border-left: 1px solid var(--line-color);
}
.h3-page-8 {
  text-transform: none;
  color: var(--text-color-headers);
}
.left-p-1 {
  font-weight: bold;
  font-size: 1.7rem;
  padding: 0 5px;
}
.left-p-2 {
  font-weight: lighter;
  font-style: 1.5rem;
  padding: 10px 0;
  color: var(--foote-text-color);
}
.right-page-8-list {
  text-align: left;
  list-style-type: disc;
}
.page-8-list-item {
  color: var(--foote-text-color);
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px;
}
.page-8-list-item:hover {
  background-color: var(--bcg-in-pages-and-containers);
  color: #fff;
}
.text-in-border-container {
  display: flex;
  flex-direction: column;
}
.quote-page-8 {
  color: var(--text-color-headers);
  font-size: 1.3rem;
  border: 1px solid var(--bcg-in-pages-and-containers);
  text-align: center;
  padding: 10px 30px;
  margin: 0;
  margin-top: 10px;
}
.quote-author {
  color: #fff;
  width: 150px;
  height: 100%;
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--bcg-in-pages-and-containers);
  text-align: right;
  align-self: flex-end;
}
/* STYLE PAGE-9 */
.photo-page-9 {
  width: 100%;
  height: 130vh;
  object-fit: cover;
  object-position: center;
}

/* STYLE PAGE-10 */
.page-10 {
  background-color: var(--page-8-bcg-color);
  margin: 0;
}
.list-page-10 {
  margin: 0;
  display: flex;
  padding: 30px;
  padding-top: 60px;
}
.list-page-10-item a {
  text-decoration: none;
  color: var(--foote-text-color);
  text-transform: uppercase;
  padding: 10px;
}
.list-page-10-item a:hover {
  color: var(--text-color-headers);
}

.page-10-gallery-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 60px;
}
.page-10-gallery-box {
  min-width: 200px;
  height: 200px;
  border: 1px solid #000;
  /* flex-grow: 1; */
}
