body {
  font-family: "Lato", sans-serif;
  background-color: #334a44;
}
.all-page {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 40px;
  color: #fff;
}

footer {
  background-color: #2b3942;
  background-image: url(resources/footer-logo.JPG);
  background-repeat: no-repeat;
  background-position: 3% 15%;
}
.footer-content {
  display: flex;
  justify-content: center;
  padding: 6% 6% 0 6%;
  margin-bottom: 20px;
}

.footer-header {
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
.links {
  border-right: 1px solid rgb(180, 180, 180, 0.2);
  flex: 1 0 100px;
  padding: 0;
  margin: 0 5%;
}
.links h3:first-child {
  margin-left: 15%;
}

.links-a {
  padding: 0;
  display: block;
  column-count: 2;
  margin-left: 15%;
}
.links-a li {
  list-style-type: none;
}
.links-a li a {
  text-decoration: none;
  padding: 5px;
  color: #fff;
}
.gift {
  border-right: 1px solid rgb(180, 180, 180, 0.2);
  flex: 1 0 100px;
  margin: 0 auto;
}
.gift a {
  text-decoration: none;
}
.gift p {
  color: #fff;
}
#special-link {
  text-decoration: underline;
  color: #fff;
}
#refere-link {
  margin: 10px;
  padding: 5px 10px;
  background: #fff;
  color: #2b3942;
  border-radius: 25px;

  text-transform: uppercase;
  font-size: 20px;
}
.shop {
  flex: 1 0 100px;
  margin: 0 5%;
}
.book-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-end {
  border-top: 1px solid rgb(180, 180, 180, 0.2);
}
.footer-end p {
  color: rgb(180, 180, 180, 0.3);
  margin: 1%;
  padding: 1%;
}
