:root {
  --form-bcg: #fa3131;
  --main-brd-radius: 3px;
  --main-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-image: url(./img/pexels-donald-tong-109669.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-size: 16px;
  color: #fff;
}
label {
  display: block;
}
input {
  background-color: rgb(245, 171, 171);
  border: 1px solid #000;
  border-radius: var(--main-brd-radius);
  font-size: 1.1rem;
}
input:focus {
  background-color: #fff;
  border: none;
  color: red;
}
::placeholder {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  gap: 20px;
  background-color: #659dbdec;
  margin-top: 10px;
  border-radius: var(--main-brd-radius);

  /* background-image: url(./img/pexels-cottonbro-3945317.jpg);
   background-repeat: no-repeat;
   background-size: cover; */
}
.search-movie {
  /* background-color: #fff; */
  padding: 10px;
  font-size: 1.2rem;
}

.bcg-form {
  background-color: var(--form-bcg);
  padding: 10px;
}
.movie-title-container {
  border-radius: var(--main-brd-radius) var(--main-brd-radius) 0 0;
}

.movie-year-container {
  border-radius: 0 0 var(--main-brd-radius) var(--main-brd-radius);
}

.btn-search {
  display: inline-block;
  background: none;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: #fff;
  border: #000 solid 1px;
  cursor: pointer;
  margin-top: 5px;
  color: #fff;
  background-color: var(--form-bcg);
  transition: all;
  transition-duration: 0.6s;
  border-radius: var(--main-brd-radius);
}
.btn-search:hover {
  background-color: rgb(255, 255, 255);
  color: red;
  box-shadow: var(--main-box-shadow);
}

.movie-container {
  /* background-color: grey; */
  padding: 10px;
  font-size: 1.3rem;
  max-width: 350px;
}
.movie-title-name {
  padding: 10px;
  border-bottom: 1px solid #fff;
}
.movie-relase {
  padding: 10px;
}

.raitings-container {
  display: flex;
  flex-direction: column;
  background-color: var(--form-bcg);
  margin-bottom: 5px;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 0 0 var(--main-brd-radius) var(--main-brd-radius);
}
.title-contaier {
  background-color: #000;
  /* text-align: center; */
  border-radius: var(--main-brd-radius) var(--main-brd-radius) 0 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  text-align: center;
}

.poster-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border: black 5px solid;
  border-radius: var(--main-brd-radius);

  box-shadow: inset 0 0 4em white, 0 0 4em red;
}

#poster {
}
.title,
.relase {
  font-size: 1.4rem;
  color: var(--form-bcg);
}

.img-logo {
  height: 30px;
  /* justify-self: flex-start; */
}
.imdb-link {
  /* display: inline-block; */
  text-decoration: none;
  color: #fff;
  background-color: #f3c400;
  padding: 4px;
  border-radius: var(--main-brd-radius);
  text-align: center;
  width: 50%;
  align-self: center;
  transition: all;
  transition-duration: 0.5s;
}
.imdb-link:hover {
  background-color: #fff;
  color: red;
  box-shadow: var(--main-box-shadow);
}

.rate-container {
  display: flex;
  /* justify-content: space-evenly; */
  padding: 2px;
}
.rate-style {
  font-size: 1.3;
  font-weight: bold;
  display: inline;
  text-align: right;
}

.no-movie {
  display: none;
  color: #000;
  font-size: 1.1rem;
  text-align: center;
}
@media screen and (max-width: 850px) {
  .wrapper {
    width: 95%;
    flex-direction: column;
  }
  .search-movie {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .poster-container {
    /* width: 90%; */
    margin: 0 auto;
    max-width: 340px;
  }

  .movie-container {
    width: 90%;
    margin: 0 auto;
    max-width: none;
  }
  .raitings-container {
    align-items: center;
  }
}
