:root {
  --width-all-page: 80%;
  --margin-all-page: 0 auto;
  --h2-font-size: 4rem;
  --orange-color: #fe6033;
  --white-color: #fff;
  --background-page-2: #00b2b2;
  --background-page-3: #70c0ff;
  --background-page-4: #fee92e;
  --background-page-6: #b07cf8;
  --color-light-grey: rgba(0, 0, 0, 0.7);
  --background-link-view-more-page-4: #94b3c3;
  --background-link-view-more-page-6: #f82b3c;
  --color-light-white: rgba(255, 255, 255, 0.9);
  --links-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 16px;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

/* page-1  */

.background-page-1 {
  background-image: url(./resources/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-1 {
  padding-top: 3%;
  max-width: var(--width-all-page);
  margin: var(--margin-all-page);
}

.navigation-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.3rem;
  font-weight: bold;
}
.navigation-links a,
li {
  text-decoration: none;
  color: #000;
  padding: 5px;
}
.navigation-links a {
  text-transform: uppercase;
}
.navigation-links a:hover {
  border-top: 4px solid var(--orange-color);
}
a.link-logo:hover {
  border: none;
}
.logo-in-navigation {
  flex-grow: 1;
}
.text-container {
  display: flex;
  align-items: center;
  height: 60vh;
}
.page-1-text {
  width: 30%;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h3 {
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.h3-page-1 {
  color: var(--color-light-grey);
}

.container-link-get {
  margin-top: 20px;
  font-weight: 300;
  display: inline-block;
  background-color: var(--orange-color);
  text-align: center;
  padding: 10px 25px;
  box-shadow: var(--links-box-shadow);
}
a.link-get {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-color);
}
.scroll {
  padding: 50px;
  text-align: center;
}

/* page-2 */

.background-page-2 {
  background-image: url(./resources/background2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--background-page-2);
}
.page-2 {
  max-width: var(--width-all-page);
  margin: b=var(--margin-all-page);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 600px;
  color: var(--color-light-white);
}
.page-2-text-container {
  width: 40%;
}
h2 {
  text-transform: capitalize;
  font-size: var(--h2-font-size);
  margin-bottom: 25px;
  font-weight: bold;
}
.page-2-text-container p {
  font-size: 1.2rem;
}

/* page-3 */

.background-page-3 {
  background-image: url(./resources/background3.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-color: var(--background-page-3);
  background-position: 80% 50%;
}
.page-3 {
  max-width: var(--width-all-page);
  margin: var(--margin-all-page);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0;
}

.links-page-3 a {
  text-decoration: none;
  width: 320px;
  text-transform: capitalize;
  display: block;
  color: var(--color-light-grey);
}

.links-page-3 {
  background-color: var(--white-color);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 13%;
  background-position: 90% 50%;
  margin: 0.5% 0;
}
.link-text {
  text-align: center;
  padding: 15px 10px;
  font-size: 1.3rem;
  width: 230px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.link-1 {
  background-image: url(./resources/icon-cart.png);
}

.link-2 {
  background-image: url(./resources/icon-hand.png);
}
.link-3 {
  background-image: url(./resources/icon-world.png);
}
.link-4 {
  background-image: url(./resources/icon-carrot.png);
}
.h2-page-3 {
  color: var(--white-color);
}

/* page-4 */

.background-page-4 {
  background-color: var(--background-page-4);
}
.page-4 {
  max-width: var(--width-all-page);
  margin: var(--margin-all-page);
}
.page-4-text-container {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}
.h2-page-4 {
  color: var(--color-light-grey);
}
.h3-page-4 {
  margin: 15px 0;
  color: #000;
}
.grid-gallery {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, minmax(1fr, auto));
  gap: 20px;
  max-width: 1300px;
}

.image-1 {
  grid-column: 1 / 9;
  grid-row: 1 / 3;
}
.image-2 {
  grid-column: 9 / 13;
  grid-row: 1 / 2;
}
.image-3 {
  grid-column: 9 / 13;
  grid-row: 2 / 3;
}
.image-4 {
  grid-column: 1 / 7;
  grid-row: 3 / 5;
}
.image-5 {
  grid-column: 7 / 13;
  grid-row: 3 / 5;
}

.link-view-more {
  text-transform: uppercase;
  font-weight: 200;
  text-align: center;
  display: inline-block;
  margin: 20px 0 100px 0;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--color-light-white);
  padding: 5px 20px;
  box-shadow: var(--links-box-shadow);
}
.page-4-link-view-more {
  background-color: var(--background-link-view-more-page-4);
}

.link-view-more-position-center {
  text-align: center;
}

/* page-5 */

.background-page-5 {
  background-color: var(--white-color);
  background-image: url(./resources/background4.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
}
.page-5 {
  max-width: var(--width-all-page);
  margin: var(--margin-all-page);
  height: 60vh;
  display: flex;
  align-items: center;
}
.form-subscribe-container {
  width: 60%;
}

h5 {
  font-size: 2.5rem;
  text-transform: capitalize;
}
.h3-page-5 {
  color: var(--color-light-grey);
}
.input-subscribe {
  height: 40px;
  width: 70%;
  margin-right: 40px;
}
.button-sub {
  height: 40px;
  width: 150px;
  background-color: #96b92c;
  border: none;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 300;
  cursor: pointer;
  box-shadow: var(--links-box-shadow);
}

/* page-6 */

.background-page-6 {
  background-color: var(--background-page-6);
}
.page-6 {
  max-width: var(--width-all-page);
  margin: var(--margin-all-page);
}
.text-page-6-container {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
.h2-page-6 {
  color: var(--white-color);
}
.h3-page-6 {
  color: var(--white-color);
}
.blog-gallery-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box-gallery {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-gallery-1 {
  background-image: url(./resources/blog-galery/background1.jpg);
}
.blog-gallery-2 {
  background-image: url(./resources/blog-galery/background\ 3.jpg);
}
.blog-gallery-3 {
  background-image: url(./resources/blog-galery/jordana-radiantly-nourished-blog-ufChi6CXIsQ-unsplash.jpg);
}
.gallery-date {
  line-height: 16px;
  border-radius: 3px;
  color: var(--color-light-white);
  text-transform: uppercase;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 40px;
  margin-left: 40px;
  margin-top: 50px;
}

.gallery-description {
  font-size: 1.2rem;
  margin-left: 20px;
  margin: 150px 0 0 20px;
  color: var(--white-color);
  padding: 10px;
}
.gallery-author {
  font-weight: 300;
  color: var(--color-light-white);
  font-size: 0.8rem;
  margin-left: 10px;
  margin-bottom: 5px;
}

.page-6-link-view-more {
  background-color: var(--background-link-view-more-page-6);
}

/* page-7  */

.background-page-7 {
  background-image: url(./resources/background5.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.page-7 {
  max-width: var(--width-all-page);
  margin: var(--margin-all-page);
}
.text-page-7-container {
  text-align: center;
  width: 40%;
  margin: 0 auto;
}

.h2-page-7 {
  color: var(--color-light-grey);
}

.h3-page-7 {
  color: var(--color-light-grey);
}
.form-and-contact-details-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.page-7-form-container {
  flex-grow: 6;
}
.contact-form {
  width: 90%;
}
.contact-form input {
  padding: 20px;
  color: var(--color-light-white);
  margin: 5px;
  height: 50px;
  width: 65%;
  background-color: rgba(123, 221, 220, 0.5);
  border: none;
  font-size: 1rem;
}
.contact-form textarea {
  padding: 20px;
  color: var(--color-light-white);
  margin: 5px;
  height: 200px;
  width: 65%;
  background-color: rgba(123, 221, 220, 0.5);
  border: none;
  font-size: 1rem;
}

.contact-form textarea:focus,
.contact-form input:focus {
  border: none;
  border-left: 6px solid #4b95c4;
  background-color: rgba(1, 197, 196, 0.7);
  outline: none;
}

.contact-form textarea::placeholder,
.contact-form input::placeholder {
  color: var(--color-light-white);
}

.button-send {
  margin: 5px 5px 100px;
  height: 40px;
  width: 150px;
  background-color: #3477ac;
  border: none;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 300;
  cursor: pointer;
  box-shadow: var(--links-box-shadow);
}

.text-contact-details-container {
  flex-grow: 1;
  color: var(--color-light-grey);
}

.text-contact-details-container span {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-light-grey);
  color: #000;
}

/* footer */
.background-footer {
  background-color: #262626;
}

footer {
  max-width: var(--width-all-page);
  margin: var(--margin-all-page);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
footer img {
  height: 40px;
}

footer p {
  color: rgba(255, 255, 255, 0.2);
}
footer span {
  color: #ff2b57;
}
