body {
  background-image: url(./iamges/zomie-bcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  margin: 5% auto;
  background-color: rgba(179, 218, 241, 0.8);
  height: 800px;
}
h1 {
  font-size: 40px;
  text-align: center;
  font-weight: normal;
}
.rules {
  font-size: 20px;
  text-align: center;
}
.score-board {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  border-radius: 5px;
  background-color: #9c0707c5;
}
.score-style {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 0;
}
.score {
  margin: 15px;
  text-align: center;
  font-size: 100px;
  transition-property: all;
  transition-duration: 1s;
  border: 1px solid #000;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.choice {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.choice-item {
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.8s;
  background-color: rgba(255, 255, 255, 0.4);
}
.choice-item.win {
  border: 10px solid green;
}
.choice-item:hover {
  background-color: rgba(10, 10, 247, 0.7);
  border: 6px solid #000;
}

.rock {
  background-image: url(./iamges/rock.png);
}
.paper {
  background-image: url(./iamges/paper.png);
}
.scissors {
  background-image: url(./iamges/scissors.png);
}
.result-container {
  display: flex;
  justify-content: center;
}

.result {
  color: black;
  text-align: center;
  font-size: 10px;
  transition-property: all;
  transition-duration: 0.4s;
  padding: 20px;
}
.result.win {
  color: green;
  font-size: 40px;
}
.result.lose {
  color: red;
  font-size: 40px;
}

.result.draw {
  color: blue;
  font-size: 30px;
}
.all-game.end {
  display: none;
}
.end-game-container {
  font-size: 80px;
}
.game-win {
  display: none;
}
.game-lose {
  display: none;
}
.game-win.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-lose.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .choice-item {
    width: 80px;
    height: 80px;
  }
  .score-board {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .score-container {
    width: 80%;
  }
  .score-style {
    font-size: 25px;
  }
  .score {
    font-size: 50px;
  }
  .result {
    color: black;
    text-align: center;
    font-size: 10px;
    transition-property: all;
    transition-duration: 0.4s;
    padding: 20px;
  }
  .result.win {
    color: green;
    font-size: 30px;
  }
  .result.lose {
    color: red;
    font-size: 30px;
  }

  .result.draw {
    color: blue;
    font-size: 20px;
  }
  .all-game.end {
    display: none;
  }
  .end-game-container {
    font-size: 50px;
  }
}

@media screen and (max-width: 400px) {
  .choice-item {
    width: 50px;
    height: 50px;
  }
  .score-board {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .score-container {
    width: 40%;
  }
  .score-style {
    font-size: 16px;
  }
  .score {
    font-size: 30px;
  }

  .result.win {
    color: green;
    font-size: 20px;
  }
  .result.lose {
    color: red;
    font-size: 20px;
  }

  .result.draw {
    color: blue;
    font-size: 15px;
  }

  .end-game-container {
    font-size: 50px;
  }
}
