body {
  font-size: 40px;
  background-image: url(./iamges/zomie-bcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}
.choice {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.choice-item {
  width: 200px;
  height: 200px;
  /* background: gray; */
  border: 5px solid #000;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
.rock {
  background-image: url(./iamges/rock.png);
}
.paper {
  background-image: url(./iamges/paper.png);
}
.scissors {
  background-image: url(./iamges/scissors.png);
}
