:root {
  --main-bcg: #342d31f3;
  --wrapper-bcg: #887374;
  --input-bcg: #d3d3d3;
  --btn-bcg: #342d31;
}
body {
  font-family: "Martel Sans", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: var(--main-bcg);
  color: #fff;
}
h1 {
  font-size: 3.5rem;
  border-bottom: 1px solid;
  padding: 0;
}
.bill-value-container {
  display: flex;
  justify-content: center;
}
.bill-value {
  font-size: 1.2rem;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  transition: all;
  background-color: var(--input-bcg);
  transition-duration: 1s;
  text-align: center;
}
.bill-value:focus {
  background-color: #fff;
  width: 80%;
  border: none;
  outline: none;
}
.range-tip {
  width: 100%;
}
.range-tip:focus {
  width: 100%;
}

.wrapper {
  margin: 20px;
  border: 1px solid #000;
  padding: 30px;
  border-radius: 30px;
  font-size: 1.4rem;
  background-color: var(--wrapper-bcg);
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
}
.tip-btn {
  color: #fff;
  background-color: var(--btn-bcg);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px;
  width: 30%;
  text-align: center;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
.tip-btn:hover {
  background-color: var(--input-bcg);
  color: #000;
}

.tip-amount-element {
  display: flex;
  justify-content: space-between;
}
.tip-value,
.total-amount {
  display: inline-block;
  font-weight: bold;
  color: var(--btn-bcg);
}

/* range slyder input style */
.range-tip {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.range-tip:hover {
  opacity: 1;
}

.range-tip::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--btn-bcg);
  cursor: pointer;
  border-radius: 5px;
}

.range-tip::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--btn-bcg);
  cursor: pointer;
}
